/* fonte do css https://programandosolucoes.dev.br/2021/06/22/card-html-css/ */
.App {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.App select {
  margin-left: 10px;
}

.lixeira {
  display: flex;
  justify-content: flex-end;
}

.lixeira button {
  background: transparent;
  border: 0;
  display: flex;
  font-size: 25px;
  justify-content: flex-end;
}

.nav {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.cadastrar {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.cadastrar input {
  margin-left: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
 
.card p {
  color: #a3a5ae;
  font-size: 16px;
}
 
.image {
  float: right;
  max-width: 64px;
  max-height: 64px;
}

.blue {
  border-left: 13px solid #4895ff;
}
 
.green {
  border-left: 13px solid #3bb54a;
}
 
.red {
  border-left: 13px solid #b3404a;
}

.sort h2 {
  display: inline-block;
}